<div class="row">
    <div class="container">
        <form [formGroup]="userForm">
            <legend>Creeate User </legend>

            <div class="form-group">
                <label for="">Name</label>
                <input type="text" class="form-control" id="" placeholder="Input field" formControlName="name">
            </div>

            <div class="form-group">
                <label for="">Age</label>
                <input type="text" class="form-control" id="" placeholder="Input field" formControlName="age">
            </div>

            <div formGroupName="typegroup">
                <div class="form-group">
                    <label for="">Type</label>
                    <select name="type" id="inputtype" formControlName="type" class="form-control" required="required">
                        <option value="">Select one</option>
                        <option value="admin">Admin</option>
                        <option value="client">Client</option>
                        <option value="user">User</option>
                    </select>
                </div>
                <div formGroupName="admin" *ngIf="userForm.controls.typegroup.get('type').value =='admin'">
                    <div class="form-group">
                        <label for="">Tel</label>
                        <input type="text" class="form-control" id="" placeholder="Input field" formControlName="tel">
                    </div>
                    <div class="form-group">
                        <label for="">Address</label>
                        <input type="text" class="form-control" id="" placeholder="Input field" formControlName="address">
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="text" class="form-control" id="" placeholder="Input field" formControlName="email">
                    </div>
                </div>
                <div formGroupName="client" *ngIf="userForm.controls.typegroup.get('type').value =='client'">
                    <div class="form-group">
                        <label for="">Permis</label>
                        <input type="text" class="form-control" id="" placeholder="Input field" formControlName="permis">
                    </div>
                    <div class="form-group">
                        <label for="">Card</label>
                        <input type="text" class="form-control" id="" placeholder="Input field" formControlName="card">
                    </div>
                </div>
            </div>
            <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>